[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

uwsgi = "*"
flask = "*"
pycrypto = "*"
"flask-s3" = "*"
peewee = "*"
"psycopg2" = "*"
zappa = "*"
flask-assets = "*"
flask-wtf = "*"


[dev-packages]

pytest = "*"
selenium = "*"
