[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

uWSGI = "*"
Flask = "*"
pycrypto = "*"
"Flask-S3" = "*"
peewee = "*"
"psycopg2" = "*"
zappa = "*"


[dev-packages]

