[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pycryptodome = "*"
"flask-s3" = "*"
peewee = "*"
"psycopg2-binary" = "*"
zappa = "*"
flask-assets = "*"
flask-wtf = "*"

[dev-packages]
pytest = "*"
selenium = "*"
pylint = "*"
