<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Add Record</h3></div>
  <div class="panel-body">
    {% include 'form_errors.html' %}
    <form action="{{url_for('add_record')}}" method="post">
      {{ form.hidden_tag() }}
      {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
          {{ field.label }}
          {{ field(class='form-control') }}
        </div>
      {% endfor %}
      <button class="btn btn-default" type="submit">Add</button>
    </form>
  </div>
</div>
