{% extends 'layout.html' %}
{% block content %}
<h3>Change Password</h3>
{% if form.errors %}
  {% for field_name, field_errors in form.errors|dictsort if field_errors %}
    {% for error in field_errors %}
      <div class="alert alert-danger">{{ form[field_name].label }}: {{ error }}</div>
    {% endfor %}
  {% endfor %}
{% endif %}
<form class="" action="{{url_for('change_password')}}" method="post">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {{ field.label }}
      {{ field(class="form-control") }}
    </div>
  {% endfor %}
  <button class="btn btn-warning" type="submit">Change Password</button>
</form>
{% endblock %}
