{% extends 'layout.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Edit Record</h3></div>
  <div class="panel-body">
    {% include 'form_errors.html' %}
    <form action="{{url_for('edit_record', password_id=form.id.data)}}" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.url.label }}
        {{ form.url(class='form-control', type='url') }}
      </div>
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.other.label }}
        {{ form.other(class='form-control') }}
      </div>
      <button class="btn btn-default" type="submit">Save Changes</button>
    </form>
  </div>
</div>
{% endblock %}
