{% extends 'layout.html' %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    {% for i in passwords %}
    <div class="well generated">
      <button type="button" class="btn btn-default cb-copy" data-clipboard-text="{{ i }}">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      </button>
      <div class="password">{{ i }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    {% for i in pins %}
    <div class="well generated">
      <button type="button" class="btn btn-default cb-copy" data-clipboard-text="{{ i }}">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      </button>
      <div class="password">{{ i }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    {% for i in keys %}
    <div class="well generated">
      <button type="button" class="btn btn-default cb-copy" data-clipboard-text="{{ i }}">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      </button>
      <div class="password">{{ i }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    {% for i in phrases %}
    <div class="well generated">
      <button type="button" class="btn btn-default cb-copy" data-clipboard-text="{{ i }}">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      </button>
      <div class="password">{{ i }}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
