<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Manager{% if 'username' in session %} - {{ session.username }}{% endif %}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}">Password Manager</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          {% if 'username' in session %}
          <li><a href="{{url_for('index')}}">Add Record</a></li>
          <li><a href="{{url_for('all_records')}}">All Records</a></li>
          <li><a href="{{url_for('generate_passwords')}}" target="_blank" id="genpw-open">Generate Passwords</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              Saved Searches
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if g.get('query') %}
              <li><a href="{{url_for('save_search')}}?query={{ g.get('query')|urlencode() }}">Save This Search</a></li>
              <li class="divider"></li>
              {% endif %}
              {% if g.get('searches') %}
              <li><a href="{{url_for('edit_searches')}}">Edit Searches</a></li>
              <li class="divider"></li>
                {% for i in g.get('searches') %}
                {% if not i.name %}
                <li><a href="{{url_for('search')}}?q={{ i.query|urlencode() }}">{{ i.query }}</a></li>
                {% else %}
                <li><a href="{{url_for('search')}}?q={{ i.query|urlencode() }}">{{ i.name }}</a></li>
                {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </li>
          {% else %}
          <li><a href="{{url_for('generate_passwords')}}" target="_blank" id="genpw-open">Generate Passwords</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if 'username' in session %}
          <li><a href="{{url_for('user_info')}}">{{ session.username }}</a></li>
          <li>
            <svg class="session-time" width="40" height="40">
              <circle class="bg" cx="20" cy="20" r="10" />
              <circle class="fg" cx="20" cy="20" r="10" />
            </svg>
          </li>
          <li><a href="{{url_for('logout')}}">Log Out</a></li>
          {% else %}
          <li><a href="{{url_for('login')}}">Log In</a></li>
          <li><a href="{{url_for('new_user')}}">Sign Up</a></li>
          {% endif %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if 'username' in session %}
              <li><a href="{{url_for('import_records')}}">Import</a></li>
              <li><a href="{{url_for('export_records')}}">Export</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('change_password')}}">Change Password</a></li>
              <li class="divider"></li>
              {% endif %}
              <li><a href="{{url_for('about')}}">About</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="modal fade" id="genpw-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Passwords <button class="btn btn-default" id="genpw-refresh"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button></h4>
        </div>
        <div id="genpw-modal-body" class="modal-body">
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="main-container">
    {% if 'username' in session and not hide_search %}{% include 'search_form.html' %}{% endif %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
  </div>
  <script id="passwords_template" type="text/x-handlebars-template">
    {% raw %}
    <div class="panel panel-default">
      <div class="panel-body">
        {{#each this}}
          <div class="well generated">
            <button type="button" class="btn btn-default cb-copy" data-clipboard-text="{{this}}">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
            <div class="password">{{this}}</div>
          </div>
        {{/each}}
      </div>
    </div>
    {% endraw %}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
  <script>
    var username_available_endpoint = "{{url_for('username_available')}}"
    var generate_passwords_json_endpoint = "{{url_for('generate_passwords_json')}}"
    {% if 'username' in session %}
    var refresh_time = {{ session.refresh }}
    var total_time = {{ session.total_time }}
    {% else %}
    var refresh_time = null
    {% endif %}
  </script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
