{% extends 'layout.html' %}
{% block content %}
<h3>Log In</h3>
<form action="/login" method="post">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" inputmode="email" autofocus>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
      </div>
    </div>
  </div>
  <button class="btn btn-default" type="submit">Log In</button>
</form>
{% endblock %}
