{% extends 'layout.html' %}
{% block content %}
<h3>Sign Up</h3>
<form action="{{url_for('new_user')}}" method="post" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="newusername">Username</label>
        <input class="form-control" type="email" id="newusername" name="username" autofocus>
        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Sign Up</button>
  </div>
</form>
<p>
  There is currently no way to recover lost passwords. Sensitive data stored
  with this service is encrypted with your login password. If this password is
  lost, so is any data in your account.
</p>
{% endblock %}
