{% extends 'layout.html' %}
{% block content %}
{% if searches %}
<div class="panel panel-default">
  <div class="panel-heading">Saved Searches</div>
  <div class="panel-body">
    {% for search in searches %}
    <p>
      <form class="form-inline" action="{{url_for('edit_search')}}" method="post">
        <input type="hidden" name="id" value="{{ search.id }}">
        <div class="form-group">
          <label for="name.{{ search.id }}">Name</label>
          <input id="name.{{ search.id }}" class="form-control" type="text" name="name" value="{{ search.name }}">
        </div>
        <div class="form-group">
          <label for="query.{{ search.id }}">Query</label>
          <input id="query.{{ search.id }}" class="form-control" type="text" name="query" value="{{ search.query }}">
        </div>
        <button class="btn btn-default" type="submit">Save Changes</button>
        <button class="btn btn-default" type="submit" name="delete">Delete</button>
      </form>
    </p>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
