{% extends 'layout.html' %}
{% block content %}
{% include 'form_errors.html' %}
<div class="panel panel-default">
  <div class="panel-heading">Saved Searches</div>
  <div class="panel-body">
    <form class="form-inline" action="{{url_for('edit_searches')}}" method="post">
      {{ form.hidden_tag() }}
      {% for search in form.searches %}
        <div>
          {{ search.hidden_tag() }}
          {% for field in search if field.widget.input_type != 'hidden' %}
            <div class="form-group">
              {{ field.label }}
              {{ field(class='form-control') }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <button class="btn btn-default" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
