{% extends 'layout.html' %}
{% block content %}
{% include 'form_errors.html' %}
<form class="form-horizontal" action="{{url_for('user_info')}}" method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label class="col-sm-2">username</label>
    <div class="col-sm-10"><samp>{{ session.username }}</samp></div>
  </div>
  <div class="form-group">
    <label class="col-sm-2">user_id</label>
    <div class="col-sm-10"><samp>{{ session.user_id }}</samp></div>
  </div>
  <div class="form-group">
    {{ form.session_time.label(class='col-sm-2') }}
    <div class="col-sm-10">
      {{ form.session_time(class='form-control') }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2">Number of Records</label>
    <div class="col-sm-10">{{ num_records }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">
      {{ form.hide_passwords.label }}
    </div>
    <div class="col-sm-10">
      {{ form.hide_passwords }}
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit">Save Changes</button>
  </div>
</form>
<p>Recent Logins:</p>
<table class="table">
  <thead>
    <tr>
      <td>Date</td>
      <td>IP Address</td>
    </tr>
  </thead>
  <tbody>
    {% for login in recent_logins %}
    <tr>
      <td>{{login.date}}</td>
      <td>{{login.ip}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{url_for('delete_account')}}" class="btn btn-danger">Delete Account...</a>
{% endblock %}
